Добро пожаловать в телефонный справочник!

Выберите, что Вы хотите сделать:
=========================================

1. Показать все записи
2. Создать запись
3. Обновить номер телефона
4. Обновить имя
5. Удалить запись по имени
6. Удалить номер
7. Показать запись
0. Выйти из программы